@charset "UTF-8";
/* CSS Document */

body {
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 1.5em;
	margin-bottom: 10 px;
}

#header {
	width: 780px;
}

#navibar {
	color: white;
	font-weight: bold;
	font-size: 1.3em;
	background-color: black;
	margin-top: 10px;
}

#navibar a:link {
	color: white;
}

#navibar a:visited {
	color: white;
}

a:link {
	color: #D00000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #D00000;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
	color: #D00000;
}
h2 {
	font-size: 1.5em;
}

.style2 {font-size: small}


#leftsidebar {
	width: 800px;
}
#rightsidebar {
	width: 480px;
	float: left;
}
#infobox {
	width: 275px;
	float: right;
	background-color: #7a7a7a;
	padding: 10px;
	margin-top: 20px;
}
#footer {
	clear: both;
	width: 800px;
}
#wrapper {
	width: 800px;
	background-color: #333333;
	padding: 20px;
	margin: auto;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
}

#header {
	margin-bottom: 5px;
}